* {box-sizing: border-box;}
body {font-family: Arial, sans-serif; margin:0; padding: 20px; background-color: #f4f4f4;}

.slideshow-container {
  position: relative;
  margin: auto;
  max-width: 1000px;
}

.mySlides, .mySlides2 {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.slideshow-container img {
  width: 100%;
  height: auto;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li a, nav ul li select {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
  border: none;
}

nav ul li a:hover, nav ul li select:hover {
  background-color: #111;
}

nav ul li select {
  color: white;
}
